@charset "UTF-8";
/*
¡¡¡ OPGELET !!!
Deze css bevat lelijke code.
Dit komt doordat bootstrap lelijk en oud is.
Ik zal later proberen de css te verbeteren en bootstrap weg te gooien.
Enige discretie is aangeraden.

---=§[ Arnhoudt ]§=---

*/
/*high performance kerstmis*/
:root {
  /*Darkmode colors*/
  --dGray0:#F28705;
  --dGray1:white;
  --dGray2:#590212;
  --dGray3:#590212;
  --dGray4:#274001;
  --dGray5:#274001;
  --dGray6:#F2778D;
  --dBlue:#F2778D; }

body {
  height: 100%;
  font-family: Radikal,Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
  background-color: #2F0000; }

@font-face {
  font-family: Radikal;
  src: url("static/fonts/radikal_regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: Radikal;
  src: url("static/fonts/radikal_light.ttf");
  font-weight: 200; }
@font-face {
  font-family: Radikal;
  src: url("static/fonts/radikal_medium.ttf");
  font-weight: medium; }
@font-face {
  font-family: Radikal;
  src: url("static/fonts/radikal_bold.ttf");
  font-weight: bold; }
.btn {
  border-radius: 5rem;
  color: white;
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
  background-image: linear-gradient(-40deg, #F53030, #F58B9E); }

.btn:hover {
  background-image: linear-gradient(-40deg, #A81111, #FF4B33); }

.navbar {
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
  padding: 1.5rem;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: capitalize; }

.nav > li > a {
  padding-left: 1vw;
  padding-right: 1vw; }

.main {
  height: 90vh;
  overflow: scroll;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }

.navbar .container {
  width: 100%;
  padding: 0 4vw; }

@media (min-width: 768px) {
  .container {
    width: 100%; } }
@media (min-width: 992px) {
  .main .container, .main .orders {
    width: 970px; } }
@media (min-width: 1200px) {
  .main .container, .main .orders {
    width: 1170px; } }
.main {
  padding-top: 2.5rem; }

.order_data {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: baseline; }

.order_row {
  background: transparent; }

.order_data h5 {
  max-width: 60%;
  padding-bottom: 3rem; }

.expand_button {
  padding: 1rem 0rem;
  margin-top: -1rem;
  width: 70%;
  margin-bottom: 1.5rem; }

.hi_im_haldis h2 {
  display: none; }

.hi_im_haldis h3 {
  width: 100%;
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
  text-align: center; }

.hi_im_haldis {
  background: linear-gradient(70deg, rgba(203, 52, 68, 0.8), rgba(135, 32, 44, 0.8));
  border-radius: 0;
  width: 100%; }

.hi_im_haldis_wrapper {
  width: 100%; }

.darker:nth-child(even) {
  background-color: #B62937;
  border-radius: 2rem; }

.darker:nth-child(odd) {
  background-color: #821C25;
  border-radius: 2rem; }

.darker {
  padding: 1rem; }

.order_row:nth-child(even) .order_data {
  background-color: #B62937;
  border-radius: 2rem; }

.order_row:nth-child(odd) .order_data {
  background-color: #821C25;
  border-radius: 2rem; }

.order_row h5 {
  font-weight: bold; }

.order_row {
  margin-bottom: 3rem; }

h3 {
  padding-bottom: 1rem; }

.home_sir {
  font-weight: bold;
  color: #F45D68; }

.expand_button_wrapper {
  margin-top: -1rem;
  width: 100%;
  display: flex;
  justify-content: center; }

.time_data {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-self: right; }

.navbar .navbar-nav .active a {
  color: #ff9bae;
  border-bottom: 1px solid #ff9bae;
  padding-bottom: 1rem; }

.navbar-nav {
  padding-left: 2rem; }

.jumbotron, .darker {
  display: flex;
  flex-direction: column;
  border-radius: 4rem; }

.row > div > h5 {
  font-weight: bold;
  padding-top: 1.5rem;
  font-size: 2.5rem; }

.row > div > .amount_of_orders {
  font-weight: lighter;
  font-size: 1.6rem; }

.row > div .time {
  font-weight: lighter; }

.jumbotron {
  background-color: transparent; }

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover {
  background-color: transparent; }

.background {
  -webkit-filter: blur(0px) brightness(80%);
  -moz-filter: blur(0px) brightness(80%);
  -o-filter: blur(0px) brightness(80%);
  -ms-filter: blur(0px) brightness(80%);
  filter: blur(0px) brightness(80%);
  position: fixed;
  top: 0;
  left: 0; }

footer a {
  color: #69E8FF; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #CB3444;
  height: 5rem;
  display: flex;
  align-items: center; }

footer > hr {
  display: none; }

#mapid {
  width: 100%; }

.order_overview, .order_order, .order_items, .order_ordered, .order_depts {
  padding: 1rem 5rem 3rem 5rem; }

.order_overview {
  width: 100%; }

.order_depts {
  width: 100%;
  margin-bottom: 10rem; }

.location_data, .location_products {
  width: 100%; }

.location_products {
  margin-bottom: 10rem; }

.locations_locations {
  padding: 1rem 5rem 3rem 5rem; }

.background_wrapper {
  position: absolute;
  left: 0;
  bottom: 5rem;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.christmas_background {
  z-index: -101;
  width: 300%;
  height: 300%;
  background: linear-gradient(-45deg, #2F0000, #C20A12);
  animation: gradientBG 19s ease infinite; }

.sled {
  width: 15rem;
  height: 15rem;
  transition: transform 2s ease-in 5s, rotate 1s ease-in-out 2s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("static/images/themes/kerstmis/sled.svg"); }

.sled_wrapper {
  top: 0.5rem;
  left: -7.5rem;
  position: absolute;
  transform: translate(-50vw, 40vh) rotate(0deg);
  width: 15rem;
  height: 15rem;
  animation: sled 29s ease-in-out infinite; }

.train_button:checked ~ .sled_wrapper:hover {
  animation-play-state: paused; }

.train_button:checked ~ .sled_wrapper:hover .sled {
  transform: translateY(100vh) rotate(90deg); }

.snowman_wrapper {
  height: 17rem;
  width: 10rem;
  position: absolute;
  bottom: 15rem;
  left: -12rem;
  animation: snowman 37s ease infinite;
  transform-origin: right bottom; }

.snowman_head {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("static/images/themes/kerstmis/snowman_head.svg");
  animation: snowman_head 2s ease infinite; }

.snowman_body {
  position: absolute;
  top: 9.5rem;
  left: 0.5rem;
  width: 10rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("static/images/themes/kerstmis/snowman_body.svg"); }

.train_button:checked ~ .merry_christmas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url("static/images/themes/kerstmis/merry_christmas.svg");
  background-size: 25vw;
  background-repeat: no-repeat;
  animation: merry_christmas 5s ease infinite; }

.train_button {
  position: absolute;
  transform: scaleX(20) scaleY(8) translateX(-100rem);
  bottom: 5.5rem;
  left: 7rem;
  animation: follow_train 47s linear infinite;
  opacity: 0; }

.train_wrapper {
  position: absolute;
  bottom: 0.5rem;
  transform: translateX(-80vw);
  animation: train 47s linear infinite; }

.wheel_big, .wheel_small {
  position: absolute;
  bottom: -0.4rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("static/images/themes/kerstmis/wheel.svg"); }

.train {
  position: absolute;
  bottom: 0.5rem;
  left: 30rem;
  width: 30rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("static/images/themes/kerstmis/train.svg");
  animation: whobble 1s linear alternate-reverse infinite; }

.wheel_big {
  width: 3.2rem;
  height: 3.2rem; }

.wheel_small {
  width: 2.5rem;
  height: 2.5rem; }

.train .wheel1 {
  animation: turn 2s linear infinite;
  left: 3.5rem; }

.train .wheel2 {
  animation: turn 2s linear infinite, -0.1s;
  left: 7rem; }

.train .wheel3 {
  animation: turn 2s linear infinite -0.3s;
  left: 10.5rem; }

.train .wheel4 {
  animation: turn 1.5s linear infinite -0.5s;
  left: 13.9rem; }

.train .wheel5 {
  animation: turn 1.5s linear infinite -0.7s;
  left: 16.6rem; }

.zeus_wagon, .mc_wagon {
  position: absolute;
  bottom: 1.25rem;
  width: 30rem;
  height: 7.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  animation: whobble 1s linear alternate-reverse infinite; }

.mc_wagon {
  background-image: url("static/images/themes/kerstmis/mc_wagon.svg");
  left: 0rem; }

.zeus_wagon {
  background-image: url("static/images/themes/kerstmis/zeus_wagon.svg");
  left: 15rem; }

.zeus_wagon .wheel1, .mc_wagon .wheel1 {
  animation: turn 2s linear infinite;
  bottom: -1.1rem;
  left: 2.2rem; }

.zeus_wagon .wheel2, .mc_wagon .wheel2 {
  animation: turn 2s linear infinite, -0.1s;
  bottom: -1.1rem;
  left: 5.75rem; }

.zeus_wagon .wheel3, .mc_wagon .wheel3 {
  animation: turn 2s linear infinite -0.3s;
  bottom: -1.1rem;
  left: 9.3rem; }

.snow {
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top: -100vh;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.layer1 {
  width: 1rem;
  height: 1rem;
  filter: blur(1.5px);
  box-shadow: 38.2vw 91.6vh 0 -0.36rem#fff,13.3vw 49.8vh 0 -0.34rem#fff,71.3vw 93.9vh 0 -0.5rem#fff,35.9vw 26.4vh 0 -0.29rem#fff,73.9vw 55.6vh 0 -0.17rem#fff,80.4vw 74.2vh 0 -0.03rem#fff,80vw 93.1vh 0 -0.49rem#fff,3vw 77.6vh 0 -0.21rem#fff,54.9vw 51.3vh 0 -0.01rem#fff,27.4vw 17vh 0 -0.15rem#fff,13.8vw 4.4vh 0 -0.4rem#fff,10.8vw 3.6vh 0 -0.04rem#fff,62.5vw 83.8vh 0 -0.48rem#fff,49vw 14.5vh 0 -0.3rem#fff,2.5vw 25.5vh 0 -0.18rem#fff,60.9vw 19.6vh 0 -0.23rem#fff,81.7vw 33.7vh 0 -0.32rem#fff,39.2vw 26.8vh 0 -0.41rem#fff,51.1vw 40.1vh 0 -0.21rem#fff,75.3vw 85.2vh 0 -0.43rem#fff,56vw 32.3vh 0 -0.01rem#fff,48vw 38.9vh 0 -0.41rem#fff,22.7vw 25.2vh 0 -0.5rem#fff,81vw 32.5vh 0 -0.09rem#fff,85.7vw 41.8vh 0 -0.44rem#fff,47.6vw 84vh 0 -0.17rem#fff,17.7vw 31.2vh 0 -0.23rem#fff,25.4vw 46.5vh 0 -0.33rem#fff,38.7vw 81.4vh 0 -0.39rem#fff,18.2vw 42.7vh 0 -0.47rem#fff,69.8vw 89vh 0 -0.44rem#fff,57.2vw 78.3vh 0 -0.08rem#fff,13.1vw 28.9vh 0 -0.09rem#fff,1.4vw 88.1vh 0 -0.02rem#fff,81.5vw 87.5vh 0 -0.09rem#fff,71.2vw 82vh 0 -0.29rem#fff,51.8vw 17.8vh 0 -0.04rem#fff,83.5vw 50vh 0 -0.42rem#fff,93.3vw 50.6vh 0 -0.06rem#fff,18vw 95.6vh 0 -0.36rem#fff,95.8vw 13.5vh 0 -0.45rem#fff,77.4vw 48.9vh 0 -0.45rem#fff,6.3vw 72.2vh 0 -0.14rem#fff,29.6vw 68.4vh 0 -0.36rem#fff,23.7vw 70.7vh 0 -0.1rem#fff,32.2vw 97.4vh 0 -0.2rem#fff,12.1vw 6.5vh 0 -0.25rem#fff,35.7vw 83.9vh 0 -0.2rem#fff,32.5vw 52.4vh 0 -0.13rem#fff,51.8vw 79.6vh 0 -0.39rem#fff,71.1vw 54.4vh 0 -0.32rem#fff,56.6vw 13.5vh 0 -0.3rem#fff,33.8vw 76.6vh 0 -0.1rem#fff,38.3vw 32.6vh 0 -0.32rem#fff,67.3vw 88.6vh 0 -0.08rem#fff,32.7vw 64.3vh 0 -0.01rem#fff,66vw 51.7vh 0 -0.15rem#fff,90.5vw 29.5vh 0 -0.32rem#fff,69.5vw 31.3vh 0 -0.13rem#fff,65.9vw 6.4vh 0 -0.45rem#fff,98.9vw 95.8vh 0 -0.47rem#fff,72.2vw 90.7vh 0 -0.16rem#fff,72.7vw 79.8vh 0 -0.35rem#fff,32.1vw 40.6vh 0 -0.05rem#fff,83.8vw 96.5vh 0 -0.26rem#fff,91.8vw 37.7vh 0 -0.23rem#fff,23.4vw 0.5vh 0 -0.21rem#fff,86.8vw 13.7vh 0 -0.2rem#fff,89.5vw 12.6vh 0 -0.4rem#fff,89.7vw 66.5vh 0 -0.24rem#fff,87.9vw 7.3vh 0 -0.39rem#fff,1.7vw 47.7vh 0 -0.3rem#fff,99.7vw 74.9vh 0 -0.37rem#fff,99.9vw 95vh 0 -0.22rem#fff,9.6vw 94.6vh 0 -0.36rem#fff,7.9vw 21.2vh 0 -0.03rem#fff,61.3vw 61.1vh 0 -0.31rem#fff,100vw 73.8vh 0 -0.26rem#fff,18.5vw 40.2vh 0 -0.32rem#fff,61.4vw 78.1vh 0 -0.23rem#fff,47.6vw 7vh 0 -0.19rem#fff,14.2vw 51.6vh 0 -0.28rem#fff,14.7vw 62.5vh 0 -0.06rem#fff,57.6vw 26.8vh 0 -0.13rem#fff,41.1vw 22.3vh 0 -0.09rem#fff,49.2vw 58.9vh 0 -0.16rem#fff,36.5vw 22.9vh 0 -0.48rem#fff,36.3vw 32vh 0 -0.08rem#fff,73.1vw 97.2vh 0 -0.24rem#fff,8.6vw 73.7vh 0 -0.47rem#fff,79.6vw 91.3vh 0 -0.28rem#fff,44.8vw 12.3vh 0 -0.5rem#fff,27.8vw 98.9vh 0 -0.27rem#fff,92.4vw 99.2vh 0 -0.13rem#fff,75.4vw 3.8vh 0 -0.21rem#fff,49.6vw 93.1vh 0 -0.28rem#fff,47.4vw 61.2vh 0 -0.48rem#fff,73.2vw 2.6vh 0 -0.37rem#fff,36.8vw 40.6vh 0 -0.26rem#fff,74.6vw 50.7vh 0 -0.43rem#fff;
  animation-duration: 18s; }

.layer1.a {
  animation-delay: -9s; }

.layer2 {
  width: 0.8rem;
  height: 0.8rem;
  filter: blur(3px);
  box-shadow: 13.9vw 80vh 0 -0.04rem#fff,87.2vw 89.7vh 0 -0.08rem#fff,19.5vw 42.1vh 0 -0.05rem#fff,94.7vw 89.6vh 0 -0.25rem#fff,71.2vw 46.8vh 0 -0.32rem#fff,9.6vw 75.5vh 0 -0.03rem#fff,77.5vw 29.5vh 0 -0.08rem#fff,92.3vw 3.1vh 0 -0.4rem#fff,95.9vw 87.5vh 0 -0.4rem#fff,54.6vw 23.2vh 0 -0.22rem#fff,33.4vw 22.3vh 0 -0.43rem#fff,63.3vw 97.4vh 0 -0.49rem#fff,58.5vw 76.8vh 0 -0.03rem#fff,17.8vw 11vh 0 -0.08rem#fff,70.3vw 30.3vh 0 -0.17rem#fff,41.2vw 89.4vh 0 -0.26rem#fff,82.8vw 56.1vh 0 -0.22rem#fff,0.5vw 34.9vh 0 -0.47rem#fff,41.1vw 48.5vh 0 -0.2rem#fff,74vw 69.3vh 0 -0.04rem#fff,60.1vw 66.5vh 0 -0.44rem#fff,44vw 42.7vh 0 -0.44rem#fff,21vw 38.2vh 0 -0.2rem#fff,4.5vw 71.9vh 0 -0.26rem#fff,86.5vw 10vh 0 -0.31rem#fff,26.4vw 15.7vh 0 -0.41rem#fff,36.3vw 50.3vh 0 -0.5rem#fff,45.8vw 30.2vh 0 -0.04rem#fff,49.5vw 51.4vh 0 -0.14rem#fff,25vw 68.9vh 0 -0.13rem#fff,97vw 38.4vh 0 -0.36rem#fff,57.4vw 7vh 0 -0.07rem#fff,1.5vw 68.2vh 0 -0.34rem#fff,28.8vw 19.4vh 0 -0.05rem#fff,84vw 67vh 0 -0.5rem#fff,58.3vw 74.3vh 0 -0.03rem#fff,68.3vw 47.9vh 0 -0.34rem#fff,24.6vw 84.2vh 0 -0.23rem#fff,52.5vw 51.1vh 0 -0.4rem#fff,69.5vw 45.5vh 0 -0.04rem#fff,32.3vw 71.8vh 0 -0.31rem#fff,49.5vw 85.1vh 0 -0.15rem#fff,74.9vw 41.7vh 0 -0.5rem#fff,36.2vw 25.5vh 0 -0.3rem#fff,28.7vw 93.6vh 0 -0.5rem#fff,3.6vw 12.5vh 0 -0.35rem#fff,69.1vw 47vh 0 -0.22rem#fff,54.8vw 89.9vh 0 -0.47rem#fff,26.1vw 60vh 0 -0.04rem#fff,33.2vw 47.7vh 0 -0.44rem#fff,70.9vw 48.4vh 0 -0.18rem#fff,6.9vw 80.7vh 0 -0.48rem#fff,7.9vw 42.3vh 0 -0.09rem#fff,91.3vw 39.6vh 0 -0.35rem#fff,63.5vw 52vh 0 -0.32rem#fff,72vw 7.8vh 0 -0.23rem#fff,54.9vw 67.1vh 0 -0.3rem#fff,27.7vw 37.1vh 0 -0.42rem#fff,66.1vw 53.6vh 0 -0.24rem#fff,28.6vw 71.9vh 0 -0.1rem#fff,59.3vw 52.7vh 0 -0.48rem#fff,29.8vw 43.4vh 0 -0.4rem#fff,34.3vw 70vh 0 -0.28rem#fff,55.2vw 68.8vh 0 -0.25rem#fff,87.4vw 56.6vh 0 -0.45rem#fff,13vw 9.3vh 0 -0.44rem#fff,17.9vw 43.8vh 0 -0.49rem#fff,57.2vw 97.9vh 0 -0.07rem#fff,32.7vw 76.5vh 0 -0.46rem#fff,89.7vw 40.6vh 0 -0.4rem#fff,25.1vw 2.8vh 0 -0.27rem#fff,90.9vw 49.8vh 0 -0.29rem#fff,74.4vw 55.4vh 0 -0.09rem#fff,38.1vw 48vh 0 -0.23rem#fff,82.8vw 87.1vh 0 -0.33rem#fff,84.5vw 81.1vh 0 -0.2rem#fff,86.5vw 33.1vh 0 -0.39rem#fff,21.7vw 66.7vh 0 -0.16rem#fff,43.4vw 35.2vh 0 -0.13rem#fff,92.3vw 13.4vh 0 -0.44rem#fff,41.3vw 33.7vh 0 -0.33rem#fff,5.3vw 11.3vh 0 -0.12rem#fff,37.5vw 22.7vh 0 -0.48rem#fff,19.4vw 96.2vh 0 -0.41rem#fff,83.9vw 65vh 0 -0.23rem#fff,56.4vw 55.2vh 0 -0.42rem#fff,75.6vw 34.7vh 0 -0.2rem#fff,85vw 57.6vh 0 -0.25rem#fff,80vw 85.4vh 0 -0.01rem#fff,9vw 33.9vh 0 -0.1rem#fff,98.4vw 40.4vh 0 -0.3rem#fff,81vw 67.4vh 0 -0.15rem#fff,84vw 51.5vh 0 -0.32rem#fff,88.1vw 2.6vh 0 -0.08rem#fff,77.9vw 63.2vh 0 -0.41rem#fff,72.5vw 14.5vh 0 -0.4rem#fff,70.2vw 16vh 0 -0.03rem#fff,86.8vw 30.3vh 0 -0.29rem#fff,66.1vw 3.1vh 0 -0.01rem#fff,57.4vw 89.1vh 0 -0.3rem#fff;
  animation-duration: 24s; }

.layer2.a {
  animation-delay: -12s; }

.layer3 {
  width: 0.6rem;
  height: 0.6rem;
  filter: blur(6px);
  box-shadow: 82.4vw 67.5vh 0 -0.21rem#fff,79.2vw 19.8vh 0 -0.01rem#fff,32.9vw 18.2vh 0 -0.4rem#fff,63.8vw 2.2vh 0 -0.25rem#fff,46.7vw 93.6vh 0 -0.21rem#fff,17.9vw 10vh 0 -0.28rem#fff,17.9vw 22vh 0 -0.23rem#fff,31.1vw 3.9vh 0 -0.48rem#fff,44.5vw 53.2vh 0 -0.4rem#fff,26.8vw 38vh 0 -0.34rem#fff,95.9vw 17.7vh 0 -0.07rem#fff,5.6vw 78.9vh 0 -0.46rem#fff,65.4vw 26.3vh 0 -0.29rem#fff,52.3vw 51vh 0 -0.15rem#fff,97.9vw 89.7vh 0 -0.16rem#fff,36vw 8vh 0 -0.23rem#fff,62.5vw 31.1vh 0 -0.4rem#fff,81.3vw 91.2vh 0 -0.27rem#fff,67.6vw 38.9vh 0 -0.39rem#fff,69.3vw 32vh 0 -0.34rem#fff,37.4vw 13.4vh 0 -0.17rem#fff,12.7vw 63.5vh 0 -0.01rem#fff,81vw 62.6vh 0 -0.41rem#fff,52.3vw 39.7vh 0 -0.42rem#fff,40.9vw 73.9vh 0 -0.19rem#fff,37.6vw 48.9vh 0 -0.32rem#fff,68.5vw 19.4vh 0 -0.16rem#fff,51.3vw 60.4vh 0 -0.03rem#fff,65.8vw 72.8vh 0 -0.28rem#fff,36.1vw 90.2vh 0 -0.15rem#fff,22.9vw 70vh 0 -0.38rem#fff,30.4vw 76.8vh 0 -0.39rem#fff,3.9vw 80.9vh 0 -0.28rem#fff,33.8vw 52.1vh 0 -0.27rem#fff,23.4vw 24.7vh 0 -0.41rem#fff,48vw 20.1vh 0 -0.3rem#fff,98.4vw 25.4vh 0 -0.06rem#fff,88.6vw 19.5vh 0 -0.3rem#fff,30.7vw 56.5vh 0 -0.26rem#fff,31.1vw 76.8vh 0 -0.37rem#fff,34.5vw 87.3vh 0 -0.26rem#fff,73.3vw 2.7vh 0 -0.26rem#fff,4.9vw 64.5vh 0 -0.26rem#fff,37.3vw 53.9vh 0 -0.42rem#fff,62.7vw 52.9vh 0 -0.06rem#fff,85.5vw 20vh 0 -0.42rem#fff,37.3vw 52.3vh 0 -0.4rem#fff,51vw 61.3vh 0 -0.2rem#fff,17.1vw 88.7vh 0 -0.17rem#fff,2.2vw 4.6vh 0 -0.09rem#fff,86.9vw 76.2vh 0 -0.43rem#fff,52.4vw 31.4vh 0 -0.39rem#fff,27.7vw 11.5vh 0 -0.09rem#fff,59.2vw 72.9vh 0 -0.06rem#fff,49.3vw 74.6vh 0 -0.13rem#fff,41.3vw 58.6vh 0 -0.35rem#fff,45.7vw 97vh 0 -0.2rem#fff,53vw 57.1vh 0 -0.28rem#fff,46.5vw 97.1vh 0 -0.12rem#fff,60.1vw 22.6vh 0 -0.33rem#fff,35.4vw 77vh 0 -0.43rem#fff,92.5vw 87vh 0 -0.38rem#fff,99.6vw 46.1vh 0 -0.31rem#fff,81vw 43.3vh 0 -0.03rem#fff,84.1vw 70.2vh 0 -0.01rem#fff,46.9vw 72vh 0 -0.16rem#fff,0.4vw 53.7vh 0 -0.04rem#fff,34.7vw 70.9vh 0 -0.18rem#fff,83.5vw 1.5vh 0 -0.4rem#fff,73.4vw 59.2vh 0 -0.25rem#fff,84.7vw 1.6vh 0 -0.32rem#fff,94.6vw 31.8vh 0 -0.09rem#fff,77.6vw 98.4vh 0 -0.18rem#fff,11.1vw 64.7vh 0 -0.38rem#fff,84.4vw 50.2vh 0 -0.11rem#fff,28.8vw 37.1vh 0 -0.21rem#fff,0.9vw 79.1vh 0 -0.29rem#fff,19.6vw 50.9vh 0 -0.24rem#fff,53.6vw 80vh 0 -0.4rem#fff,100vw 62.4vh 0 -0.49rem#fff,75.3vw 92.9vh 0 -0.09rem#fff,65.2vw 43.9vh 0 -0.31rem#fff,99.2vw 20.1vh 0 -0.24rem#fff,54.7vw 20vh 0 -0.45rem#fff,34.7vw 82.8vh 0 -0.25rem#fff,9.6vw 54.4vh 0 -0.46rem#fff,73.6vw 37.4vh 0 -0.13rem#fff,71.3vw 34.4vh 0 -0.31rem#fff,87.5vw 2.3vh 0 -0.21rem#fff,27.6vw 12.7vh 0 -0.21rem#fff,42.9vw 64.9vh 0 -0.06rem#fff,13.7vw 14.8vh 0 -0.02rem#fff,48.9vw 91.2vh 0 -0.3rem#fff,34.4vw 67.9vh 0 -0.11rem#fff,16.4vw 44.3vh 0 -0.32rem#fff,65.5vw 4.3vh 0 -0.38rem#fff,80.4vw 10.7vh 0 -0.02rem#fff,28.1vw 93.8vh 0 -0.27rem#fff,51.1vw 5.6vh 0 -0.09rem#fff,59.5vw 38.3vh 0 -0.4rem#fff;
  animation-duration: 30s; }

.layer3.a {
  animation-delay: -15s; }

@keyframes fall {
  100% {
    transform: translateY(200vh); } }
@keyframes gradientBG {
  0% {
    transform: translate(-10%, -10%); }
  50% {
    transform: translate(-60%, -60%); }
  100% {
    transform: translate(-10%, -10%); } }
@keyframes sled {
  0% {
    transform: translate(-50rem, 40vh) rotate(0deg); }
  4% {
    transform: translate(-50rem, 40vh) rotate(0deg); }
  20% {
    transform: translate(50vw, 10vh) rotate(20deg); }
  36% {
    transform: translate(150vw, 40vh) rotate(40deg); }
  100% {
    transform: translate(150vw, 40vh) rotate(40deg); } }
@keyframes train {
  0% {
    transform: translateX(-80rem); }
  55% {
    transform: translateX(-80rem); }
  85% {
    transform: translateX(100vw); }
  100% {
    transform: translateX(100vw); } }
@keyframes follow_train {
  0% {
    transform: translateX(-80rem) scaleX(20) scaleY(8); }
  55% {
    transform: translateX(-80rem) scaleX(20) scaleY(8); }
  85% {
    transform: translateX(100vw) scaleX(20) scaleY(8); }
  100% {
    transform: translateX(100vw) scaleX(20) scaleY(8); } }
@keyframes turn {
  100% {
    transform: rotate(360deg); } }
@keyframes whobble {
  100% {
    transform: translateY(0.5vh); } }
@keyframes snowman {
  0% {
    transform: rotate(0); }
  20% {
    transform: rotate(0); }
  30% {
    transform: rotate(80deg); }
  54% {
    transform: rotate(80deg); }
  68% {
    transform: rotate(0); }
  100% {
    transform: rotate(0); } }
@keyframes snowman_head {
  0% {
    transform: rotate(-3deg); }
  50% {
    transform: rotate(3deg); }
  100% {
    transform: rotate(-3deg); } }
@keyframes merry_christmas {
  0% {
    opacity: 0.8; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 0.8; } }

/*# sourceMappingURL=kerstmis.css.map */
