@charset "UTF-8";
/*
¡¡¡ OPGELET !!!
Deze css bevat lelijke code.
Dit komt doordat bootstrap lelijk en oud is.
Ik zal later proberen de css te verbeteren en bootstrap weg te gooien.
Enige discretie is aangeraden.

---=§[ Arnhoudt ]§=---

*/
:root {
  --dGray0:#F28705;
  --dGray1:white;
  --dGray2:#590212;
  --dGray3:#590212;
  --dGray4:#274001;
  --dGray5:#274001;
  --dGray6:#F2778D;
  --dBlue:#F2778D; }

body {
  height: 100%;
  font-family: Radikal,Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
  background-color: #2F0000; }

@font-face {
  font-family: Radikal;
  src: url("static/fonts/radikal_regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: Radikal;
  src: url("static/fonts/radikal_light.ttf");
  font-weight: 200; }

@font-face {
  font-family: Radikal;
  src: url("static/fonts/radikal_medium.ttf");
  font-weight: medium; }

@font-face {
  font-family: Radikal;
  src: url("static/fonts/radikal_bold.ttf");
  font-weight: bold; }

.btn {
  border-radius: 5rem;
  color: white;
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
  background-image: linear-gradient(-40deg, #F53030, #F58B9E); }

.btn:hover {
  background-image: linear-gradient(-40deg, #A81111, #FF4B33); }

.navbar {
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
  padding: 1.5rem;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: capitalize; }

.nav > li > a {
  padding-left: 1vw;
  padding-right: 1vw; }

.main {
  height: 90vh;
  overflow: scroll;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }

.navbar .container {
  width: 100%;
  padding: 0 4vw; }

@media (min-width: 768px) {
  .container {
    width: 100%; } }

@media (min-width: 992px) {
  .main .container, .main .orders {
    width: 970px; } }

@media (min-width: 1200px) {
  .main .container, .main .orders {
    width: 1170px; } }

.main {
  padding-top: 2.5rem; }

.order_data {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: baseline; }

.order_row {
  background: transparent; }

.order_data h5 {
  max-width: 60%;
  padding-bottom: 3rem; }

.expand_button {
  padding: 1rem 0rem;
  margin-top: -1rem;
  width: 70%;
  margin-bottom: 1.5rem; }

.hi_im_haldis h2 {
  display: none; }

.hi_im_haldis h3 {
  width: 100%;
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
  text-align: center; }

.hi_im_haldis {
  background: linear-gradient(70deg, rgba(203, 52, 68, 0.8), rgba(135, 32, 44, 0.8));
  border-radius: 0;
  width: 100%; }

.hi_im_haldis_wrapper {
  width: 100%; }

.darker:nth-child(even) {
  background-color: #B62937;
  border-radius: 2rem; }

.darker:nth-child(odd) {
  background-color: #821C25;
  border-radius: 2rem; }

.darker {
  padding: 1rem; }

.order_row:nth-child(even) .order_data {
  background-color: #B62937;
  border-radius: 2rem; }

.order_row:nth-child(odd) .order_data {
  background-color: #821C25;
  border-radius: 2rem; }

.order_row h5 {
  font-weight: bold; }

.order_row {
  margin-bottom: 3rem; }

h3 {
  padding-bottom: 1rem; }

.home_sir {
  font-weight: bold;
  color: #F45D68; }

.expand_button_wrapper {
  margin-top: -1rem;
  width: 100%;
  display: flex;
  justify-content: center; }

.time_data {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-self: right; }

.navbar .navbar-nav .active a {
  color: #ff9bae;
  border-bottom: 1px solid #ff9bae;
  padding-bottom: 1rem; }

.navbar-nav {
  padding-left: 2rem; }

.jumbotron, .darker {
  display: flex;
  flex-direction: column;
  border-radius: 4rem; }

.row > div > h5 {
  font-weight: bold;
  padding-top: 1.5rem;
  font-size: 2.5rem; }

.row > div > .amount_of_orders {
  font-weight: lighter;
  font-size: 1.6rem; }

.row > div .time {
  font-weight: lighter; }

.jumbotron {
  background-color: transparent; }

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover {
  background-color: transparent; }

.background {
  -webkit-filter: blur(0px) brightness(80%);
  -moz-filter: blur(0px) brightness(80%);
  -o-filter: blur(0px) brightness(80%);
  -ms-filter: blur(0px) brightness(80%);
  filter: blur(0px) brightness(80%);
  position: fixed;
  top: 0;
  left: 0; }

footer a {
  color: #69E8FF; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #CB3444;
  height: 5rem;
  display: flex;
  align-items: center; }

footer > hr {
  display: none; }

#mapid {
  width: 100%; }

.order_overview, .order_order, .order_items, .order_ordered, .order_depts {
  padding: 1rem 5rem 3rem 5rem; }

.order_overview {
  width: 100%; }

.order_depts {
  width: 100%;
  margin-bottom: 10rem; }

.location_data, .location_products {
  width: 100%; }

.location_products {
  margin-bottom: 10rem; }

.locations_locations {
  padding: 1rem 5rem 3rem 5rem; }

.background_wrapper {
  position: absolute;
  left: 0;
  bottom: 5rem;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.christmas_background {
  z-index: -101;
  width: 300%;
  height: 300%;
  background: linear-gradient(-45deg, #2F0000, #C20A12);
  animation: gradientBG 19s ease infinite; }

.sled {
  width: 15rem;
  height: 15rem;
  transition: transform 2s ease-in 5s, rotate 1s ease-in-out 2s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("static/images/themes/kerstmis/sled.svg"); }

.sled_wrapper {
  top: 0.5rem;
  left: -7.5rem;
  position: absolute;
  transform: translate(-50vw, 40vh) rotate(0deg);
  width: 15rem;
  height: 15rem;
  animation: sled 29s ease-in-out infinite; }

.train_button:checked ~ .sled_wrapper:hover {
  animation-play-state: paused; }

.train_button:checked ~ .sled_wrapper:hover .sled {
  transform: translateY(100vh) rotate(90deg); }

.snowman_wrapper {
  height: 17rem;
  width: 10rem;
  position: absolute;
  bottom: 15rem;
  left: -12rem;
  animation: snowman 37s ease infinite;
  transform-origin: right bottom; }

.snowman_head {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("static/images/themes/kerstmis/snowman_head.svg");
  animation: snowman_head 2s ease infinite; }

.snowman_body {
  position: absolute;
  top: 9.5rem;
  left: 0.5rem;
  width: 10rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("static/images/themes/kerstmis/snowman_body.svg"); }

.train_button:checked ~ .merry_christmas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url("static/images/themes/kerstmis/merry_christmas.svg");
  background-size: 25vw;
  background-repeat: no-repeat;
  animation: merry_christmas 5s ease infinite; }

.train_button {
  position: absolute;
  transform: scaleX(20) scaleY(8) translateX(-100rem);
  bottom: 5.5rem;
  left: 7rem;
  animation: follow_train 47s linear infinite;
  opacity: 0; }

.train_wrapper {
  position: absolute;
  bottom: 0.5rem;
  transform: translateX(-80vw);
  animation: train 47s linear infinite; }

.wheel_big, .wheel_small {
  position: absolute;
  bottom: -0.4rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("static/images/themes/kerstmis/wheel.svg"); }

.train {
  position: absolute;
  bottom: 0.5rem;
  left: 30rem;
  width: 30rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("static/images/themes/kerstmis/train.svg");
  animation: whobble 1s linear alternate-reverse infinite; }

.wheel_big {
  width: 3.2rem;
  height: 3.2rem; }

.wheel_small {
  width: 2.5rem;
  height: 2.5rem; }

.train .wheel1 {
  animation: turn 2s linear infinite;
  left: 3.5rem; }

.train .wheel2 {
  animation: turn 2s linear infinite, -0.1s;
  left: 7rem; }

.train .wheel3 {
  animation: turn 2s linear infinite -0.3s;
  left: 10.5rem; }

.train .wheel4 {
  animation: turn 1.5s linear infinite -0.5s;
  left: 13.9rem; }

.train .wheel5 {
  animation: turn 1.5s linear infinite -0.7s;
  left: 16.6rem; }

.zeus_wagon, .mc_wagon {
  position: absolute;
  bottom: 1.25rem;
  width: 30rem;
  height: 7.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  animation: whobble 1s linear alternate-reverse infinite; }

.mc_wagon {
  background-image: url("static/images/themes/kerstmis/mc_wagon.svg");
  left: 0rem; }

.zeus_wagon {
  background-image: url("static/images/themes/kerstmis/zeus_wagon.svg");
  left: 15rem; }

.zeus_wagon .wheel1, .mc_wagon .wheel1 {
  animation: turn 2s linear infinite;
  bottom: -1.1rem;
  left: 2.2rem; }

.zeus_wagon .wheel2, .mc_wagon .wheel2 {
  animation: turn 2s linear infinite, -0.1s;
  bottom: -1.1rem;
  left: 5.75rem; }

.zeus_wagon .wheel3, .mc_wagon .wheel3 {
  animation: turn 2s linear infinite -0.3s;
  bottom: -1.1rem;
  left: 9.3rem; }

.snow {
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top: -100vh;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.layer1 {
  width: 1rem;
  height: 1rem;
  filter: blur(1.5px);
  box-shadow: 95.5vw 70.4vh 0 -0.48rem#fff,87.9vw 28.3vh 0 -0.3rem#fff,48.4vw 63.8vh 0 -0.16rem#fff,55.2vw 23.5vh 0 -0.28rem#fff,43.2vw 62.6vh 0 -0.32rem#fff,5vw 16.6vh 0 -0.42rem#fff,34.4vw 88.5vh 0 -0.08rem#fff,63.3vw 27.4vh 0 -0.26rem#fff,58.1vw 21.3vh 0 -0.21rem#fff,58.2vw 56.7vh 0 -0.29rem#fff,81.1vw 47.1vh 0 -0.27rem#fff,89.6vw 19.1vh 0 -0.23rem#fff,76vw 67.1vh 0 -0.16rem#fff,50.8vw 26.8vh 0 -0.43rem#fff,59.1vw 73.6vh 0 -0.11rem#fff,48.2vw 55.3vh 0 -0.09rem#fff,28.1vw 65.2vh 0 -0.13rem#fff,48.3vw 77.8vh 0 -0.31rem#fff,21vw 86.9vh 0 -0.03rem#fff,8.5vw 46.7vh 0 -0.37rem#fff,65.2vw 10.1vh 0 -0.04rem#fff,16.3vw 76.3vh 0 -0.33rem#fff,36.8vw 80.3vh 0 -0.05rem#fff,64.1vw 25.3vh 0 -0.15rem#fff,69vw 4.4vh 0 -0.37rem#fff,20.6vw 59.8vh 0 -0.05rem#fff,92.5vw 58.8vh 0 -0.3rem#fff,89.3vw 76.2vh 0 -0.24rem#fff,16.4vw 77.7vh 0 -0.32rem#fff,93.4vw 49.7vh 0 -0.25rem#fff,75.7vw 50.5vh 0 -0.36rem#fff,53.8vw 45.1vh 0 -0.2rem#fff,25.2vw 42.9vh 0 -0.41rem#fff,21.7vw 63.5vh 0 -0.36rem#fff,76.8vw 29vh 0 -0.11rem#fff,27.4vw 56.2vh 0 -0.25rem#fff,10.7vw 87.3vh 0 -0.37rem#fff,71.9vw 5.2vh 0 -0.09rem#fff,64.9vw 31.5vh 0 -0.13rem#fff,24vw 21.4vh 0 -0.33rem#fff,54.9vw 18vh 0 -0.48rem#fff,4.4vw 37.8vh 0 -0.23rem#fff,58.3vw 93.1vh 0 -0.41rem#fff,56.1vw 58.2vh 0 -0.42rem#fff,17.1vw 17.4vh 0 -0.3rem#fff,69.6vw 50.9vh 0 -0.04rem#fff,81.1vw 8.8vh 0 -0.12rem#fff,69.9vw 6.2vh 0 -0.31rem#fff,86vw 17.9vh 0 -0.16rem#fff,27.7vw 14.1vh 0 -0.37rem#fff,46.9vw 10.9vh 0 -0.07rem#fff,58.3vw 93.4vh 0 -0.14rem#fff,98.9vw 1.1vh 0 -0.17rem#fff,82.5vw 36.2vh 0 -0.41rem#fff,28vw 0.5vh 0 -0.06rem#fff,0.4vw 21.8vh 0 -0.5rem#fff,70.4vw 47.8vh 0 -0.31rem#fff,16vw 42.2vh 0 -0.11rem#fff,42.1vw 14.1vh 0 -0.23rem#fff,49.3vw 67.7vh 0 -0.43rem#fff,46.2vw 69vh 0 -0.13rem#fff,23.2vw 88vh 0 -0.45rem#fff,93.2vw 88.3vh 0 -0.5rem#fff,17.3vw 22vh 0 -0.14rem#fff,57.6vw 6.5vh 0 -0.44rem#fff,26.5vw 88.2vh 0 -0.14rem#fff,85.4vw 14.8vh 0 -0.32rem#fff,33.1vw 44.2vh 0 -0.15rem#fff,1.3vw 6.4vh 0 -0.12rem#fff,1.8vw 58.5vh 0 -0.21rem#fff,85.5vw 74.1vh 0 -0.43rem#fff,82.9vw 4.4vh 0 -0.35rem#fff,94.6vw 55.2vh 0 -0.1rem#fff,7.1vw 5.1vh 0 -0.29rem#fff,47.1vw 95.8vh 0 -0.13rem#fff,69.3vw 35.3vh 0 -0.1rem#fff,8.3vw 83vh 0 -0.02rem#fff,90.8vw 47vh 0 -0.21rem#fff,85.2vw 35.3vh 0 -0.06rem#fff,80.1vw 13.6vh 0 -0.07rem#fff,52vw 37vh 0 -0.11rem#fff,75.7vw 26.3vh 0 -0.16rem#fff,51.3vw 7.7vh 0 -0.46rem#fff,35.2vw 18.6vh 0 -0.09rem#fff,69.4vw 21.3vh 0 -0.05rem#fff,16.1vw 66.8vh 0 -0.14rem#fff,80.3vw 4vh 0 -0.25rem#fff,31.1vw 78.7vh 0 -0.08rem#fff,26.9vw 45.3vh 0 -0.01rem#fff,38.3vw 11.4vh 0 -0.47rem#fff,46.7vw 10.2vh 0 -0.44rem#fff,15.5vw 2.9vh 0 -0.35rem#fff,97.8vw 19.8vh 0 -0.24rem#fff,60.8vw 94.7vh 0 -0.12rem#fff,46.1vw 66vh 0 -0.45rem#fff,59.6vw 65vh 0 -0.33rem#fff,30.5vw 44.4vh 0 -0.18rem#fff,78.2vw 55.6vh 0 -0.07rem#fff,69.5vw 61.9vh 0 -0.11rem#fff,53.4vw 38.3vh 0 -0.11rem#fff;
  animation-duration: 18s; }

.layer1.a {
  animation-delay: -9s; }

.layer2 {
  width: 0.8rem;
  height: 0.8rem;
  filter: blur(3px);
  box-shadow: 89.1vw 69.4vh 0 -0.15rem#fff,19.2vw 77.1vh 0 -0.35rem#fff,52.3vw 3.8vh 0 -0.04rem#fff,69.5vw 14.1vh 0 -0.25rem#fff,75.5vw 74.6vh 0 -0.44rem#fff,13.6vw 48vh 0 -0.36rem#fff,62.5vw 17.4vh 0 -0.2rem#fff,53.5vw 44.1vh 0 -0.41rem#fff,58.2vw 63vh 0 -0.28rem#fff,64.3vw 54.3vh 0 -0.42rem#fff,38.3vw 92.4vh 0 -0.36rem#fff,89.4vw 6.5vh 0 -0.06rem#fff,92.9vw 11.4vh 0 -0.06rem#fff,8.4vw 33.7vh 0 -0.25rem#fff,84.1vw 44.5vh 0 -0.02rem#fff,58.2vw 87.2vh 0 -0.43rem#fff,64.8vw 34.8vh 0 -0.33rem#fff,46.1vw 31.1vh 0 -0.4rem#fff,11.3vw 61.1vh 0 -0.33rem#fff,50.9vw 4.5vh 0 -0.3rem#fff,43.6vw 97.2vh 0 -0.43rem#fff,24.7vw 62.9vh 0 -0.12rem#fff,5.2vw 40.3vh 0 -0.45rem#fff,48.2vw 21.6vh 0 -0.45rem#fff,28.4vw 48.3vh 0 -0.18rem#fff,35vw 16.7vh 0 -0.09rem#fff,29.5vw 65.1vh 0 -0.11rem#fff,65.7vw 59.2vh 0 -0.15rem#fff,28vw 80.1vh 0 -0.4rem#fff,20.4vw 33.1vh 0 -0.1rem#fff,11.1vw 70.2vh 0 -0.4rem#fff,37.4vw 92.5vh 0 -0.49rem#fff,38.5vw 90.5vh 0 -0.12rem#fff,97.3vw 34.4vh 0 -0.07rem#fff,14.7vw 10.4vh 0 -0.23rem#fff,98.2vw 54.5vh 0 -0.3rem#fff,23.4vw 44vh 0 -0.17rem#fff,4.8vw 21.2vh 0 -0.26rem#fff,27vw 63.3vh 0 -0.27rem#fff,93.4vw 67.2vh 0 -0.16rem#fff,86.2vw 82vh 0 -0.02rem#fff,61.4vw 50vh 0 -0.41rem#fff,43.9vw 68.4vh 0 -0.49rem#fff,46.6vw 6.3vh 0 -0.18rem#fff,69.8vw 94.2vh 0 -0.03rem#fff,17.1vw 31.7vh 0 -0.39rem#fff,88vw 76.3vh 0 -0.13rem#fff,90.8vw 27.8vh 0 -0.5rem#fff,16.5vw 86vh 0 -0.24rem#fff,48.4vw 50vh 0 -0.12rem#fff,0.2vw 9.7vh 0 -0.29rem#fff,70.6vw 13.2vh 0 -0.34rem#fff,75.4vw 46.7vh 0 -0.02rem#fff,41.9vw 63.2vh 0 -0.09rem#fff,81.2vw 32.4vh 0 -0.44rem#fff,62.1vw 38.9vh 0 -0.29rem#fff,83.8vw 8.6vh 0 -0.46rem#fff,60.4vw 96.9vh 0 -0.37rem#fff,80.7vw 83.8vh 0 -0.14rem#fff,91.1vw 35.7vh 0 -0.45rem#fff,19.8vw 9.6vh 0 -0.11rem#fff,56.3vw 28.3vh 0 -0.11rem#fff,49.7vw 27.6vh 0 -0.21rem#fff,92.2vw 61.1vh 0 -0.37rem#fff,10.7vw 18.8vh 0 -0.04rem#fff,44.4vw 77.2vh 0 -0.41rem#fff,42.3vw 53.9vh 0 -0.32rem#fff,16vw 19.5vh 0 -0.02rem#fff,40.8vw 60.8vh 0 -0.23rem#fff,6.5vw 77.1vh 0 -0.41rem#fff,78.2vw 98.6vh 0 -0.5rem#fff,70.3vw 88vh 0 -0.34rem#fff,21.4vw 45.7vh 0 -0.2rem#fff,79.3vw 27.8vh 0 -0.16rem#fff,20.5vw 91.9vh 0 -0.1rem#fff,44vw 20.7vh 0 -0.05rem#fff,20.2vw 58.5vh 0 -0.18rem#fff,0.4vw 57.7vh 0 -0.44rem#fff,29.8vw 96.4vh 0 -0.41rem#fff,66vw 94.4vh 0 -0.01rem#fff,25.4vw 74.6vh 0 -0.37rem#fff,89.7vw 38.4vh 0 -0.04rem#fff,32vw 64vh 0 -0.4rem#fff,79.9vw 73.7vh 0 -0.45rem#fff,92.8vw 72.3vh 0 -0.46rem#fff,50.5vw 54.5vh 0 -0.47rem#fff,77.8vw 38.2vh 0 -0.29rem#fff,73.9vw 61.4vh 0 -0.17rem#fff,88.1vw 91.1vh 0 -0.37rem#fff,20.4vw 32.5vh 0 -0.39rem#fff,68.5vw 97.8vh 0 -0.42rem#fff,62.7vw 53.2vh 0 -0.11rem#fff,65.4vw 70.8vh 0 -0.14rem#fff,31.3vw 5.3vh 0 -0.12rem#fff,39.2vw 78vh 0 -0.48rem#fff,50vw 44.2vh 0 -0.01rem#fff,16.9vw 20.6vh 0 -0.05rem#fff,61.3vw 5.1vh 0 -0.48rem#fff,18.6vw 65.8vh 0 -0.35rem#fff,88.4vw 67.2vh 0 -0.5rem#fff;
  animation-duration: 24s; }

.layer2.a {
  animation-delay: -12s; }

.layer3 {
  width: 0.6rem;
  height: 0.6rem;
  filter: blur(6px);
  box-shadow: 12.2vw 53.5vh 0 -0.46rem#fff,38.8vw 53vh 0 -0.18rem#fff,48vw 42vh 0 -0.4rem#fff,89.7vw 31vh 0 -0.36rem#fff,67vw 60.1vh 0 -0.3rem#fff,69vw 14.5vh 0 -0.49rem#fff,6.7vw 91.1vh 0 -0.18rem#fff,13.2vw 34.7vh 0 -0.48rem#fff,70.4vw 67.8vh 0 -0.36rem#fff,85.1vw 82.5vh 0 -0.05rem#fff,16.8vw 7.6vh 0 -0.19rem#fff,6.2vw 34.2vh 0 -0.16rem#fff,8.9vw 68.8vh 0 -0.32rem#fff,58.5vw 28.3vh 0 -0.3rem#fff,41.7vw 74.1vh 0 -0.34rem#fff,10.3vw 79.8vh 0 -0.26rem#fff,8.3vw 24.6vh 0 -0.05rem#fff,33.1vw 85.4vh 0 -0.41rem#fff,20.3vw 16.9vh 0 -0.02rem#fff,21.1vw 50.7vh 0 -0.36rem#fff,14.9vw 17vh 0 -0.05rem#fff,45.8vw 17vh 0 -0.21rem#fff,25.6vw 0.8vh 0 -0.31rem#fff,35.4vw 53.4vh 0 -0.22rem#fff,19.2vw 79.1vh 0 -0.35rem#fff,74.5vw 60.8vh 0 -0.25rem#fff,88.9vw 89.9vh 0 -0.48rem#fff,48.7vw 7.2vh 0 -0.13rem#fff,88.1vw 84.1vh 0 -0.12rem#fff,63.2vw 82.3vh 0 -0.06rem#fff,99.9vw 46.2vh 0 -0.47rem#fff,92vw 59.8vh 0 -0.12rem#fff,1.6vw 8.8vh 0 -0.23rem#fff,79.8vw 2vh 0 -0.5rem#fff,58.2vw 22.4vh 0 -0.34rem#fff,47.6vw 7.3vh 0 -0.06rem#fff,28.1vw 71vh 0 -0.18rem#fff,14.2vw 77.1vh 0 -0.43rem#fff,95.5vw 68.6vh 0 -0.43rem#fff,6.7vw 8.1vh 0 -0.1rem#fff,60.2vw 36.7vh 0 -0.31rem#fff,25.8vw 27vh 0 -0.42rem#fff,1vw 60vh 0 -0.42rem#fff,64.2vw 19.1vh 0 -0.23rem#fff,80.9vw 88.8vh 0 -0.03rem#fff,3.6vw 60.1vh 0 -0.08rem#fff,30.1vw 10.9vh 0 -0.44rem#fff,38.5vw 26.3vh 0 -0.45rem#fff,44.3vw 38.8vh 0 -0.1rem#fff,16.2vw 45.5vh 0 -0.14rem#fff,90.6vw 6.6vh 0 -0.23rem#fff,15.8vw 52.6vh 0 -0.45rem#fff,30.2vw 2.7vh 0 -0.4rem#fff,3.8vw 40.1vh 0 -0.48rem#fff,10.7vw 82.2vh 0 -0.4rem#fff,90.5vw 73.3vh 0 -0.16rem#fff,72.9vw 48.3vh 0 -0.14rem#fff,17.7vw 25.7vh 0 -0.07rem#fff,84.6vw 82.3vh 0 -0.3rem#fff,69.9vw 71.5vh 0 -0.05rem#fff,34.6vw 45.9vh 0 -0.1rem#fff,81.3vw 12.5vh 0 -0.1rem#fff,58.3vw 11.4vh 0 -0.48rem#fff,17.7vw 7vh 0 -0.18rem#fff,67.5vw 27.8vh 0 -0.4rem#fff,92.1vw 63.6vh 0 -0.42rem#fff,92vw 97.7vh 0 -0.3rem#fff,7.3vw 28.6vh 0 -0.22rem#fff,93.4vw 39.8vh 0 -0.04rem#fff,27.4vw 56.7vh 0 -0.08rem#fff,2.5vw 39.9vh 0 -0.47rem#fff,61.1vw 38.3vh 0 -0.29rem#fff,42.4vw 41.2vh 0 -0.14rem#fff,85.8vw 26vh 0 -0.44rem#fff,95.9vw 70vh 0 -0.19rem#fff,77.4vw 52.9vh 0 -0.15rem#fff,54.9vw 1.2vh 0 -0.4rem#fff,47.1vw 44.2vh 0 -0.2rem#fff,60vw 66.7vh 0 -0.41rem#fff,88.2vw 72vh 0 -0.05rem#fff,77.2vw 74.3vh 0 -0.31rem#fff,77.7vw 63.2vh 0 -0.1rem#fff,15.9vw 61.7vh 0 -0.19rem#fff,13.9vw 23.5vh 0 -0.4rem#fff,81.2vw 18.9vh 0 -0.17rem#fff,20.1vw 44.6vh 0 -0.47rem#fff,59vw 4vh 0 -0.44rem#fff,6vw 40vh 0 -0.34rem#fff,12.2vw 77vh 0 -0.26rem#fff,9.5vw 20.3vh 0 -0.01rem#fff,52.6vw 58.7vh 0 -0.17rem#fff,89.5vw 32.6vh 0 -0.03rem#fff,0.2vw 83.9vh 0 -0.3rem#fff,42.3vw 73.3vh 0 -0.03rem#fff,0.5vw 15.7vh 0 -0.17rem#fff,58.1vw 98.2vh 0 -0.01rem#fff,95.7vw 4.3vh 0 -0.01rem#fff,82.7vw 57.7vh 0 -0.18rem#fff,99.6vw 2.6vh 0 -0.12rem#fff,44.5vw 68.3vh 0 -0.02rem#fff;
  animation-duration: 30s; }

.layer3.a {
  animation-delay: -15s; }

@keyframes fall {
  100% {
    transform: translateY(200vh); } }

@keyframes gradientBG {
  0% {
    transform: translate(-10%, -10%); }
  50% {
    transform: translate(-60%, -60%); }
  100% {
    transform: translate(-10%, -10%); } }

@keyframes sled {
  0% {
    transform: translate(-50rem, 40vh) rotate(0deg); }
  4% {
    transform: translate(-50rem, 40vh) rotate(0deg); }
  20% {
    transform: translate(50vw, 10vh) rotate(20deg); }
  36% {
    transform: translate(150vw, 40vh) rotate(40deg); }
  100% {
    transform: translate(150vw, 40vh) rotate(40deg); } }

@keyframes train {
  0% {
    transform: translateX(-80rem); }
  55% {
    transform: translateX(-80rem); }
  85% {
    transform: translateX(100vw); }
  100% {
    transform: translateX(100vw); } }

@keyframes follow_train {
  0% {
    transform: translateX(-80rem) scaleX(20) scaleY(8); }
  55% {
    transform: translateX(-80rem) scaleX(20) scaleY(8); }
  85% {
    transform: translateX(100vw) scaleX(20) scaleY(8); }
  100% {
    transform: translateX(100vw) scaleX(20) scaleY(8); } }

@keyframes turn {
  100% {
    transform: rotate(360deg); } }

@keyframes whobble {
  100% {
    transform: translateY(0.5vh); } }

@keyframes snowman {
  0% {
    transform: rotate(0); }
  20% {
    transform: rotate(0); }
  30% {
    transform: rotate(80deg); }
  54% {
    transform: rotate(80deg); }
  68% {
    transform: rotate(0); }
  100% {
    transform: rotate(0); } }

@keyframes snowman_head {
  0% {
    transform: rotate(-3deg); }
  50% {
    transform: rotate(3deg); }
  100% {
    transform: rotate(-3deg); } }

@keyframes merry_christmas {
  0% {
    opacity: 0.8; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 0.8; } }

/*# sourceMappingURL=christmas_heavy.css.map */