:root {
	--gray0: #ffeb65;
	--gray1: #f28705;
	--gray2: #f25c05;
	--gray3: #f27405;
	--gray4: #8c3d0f;
	--gray5: #260101;
	--gray6: #260101;
	--accent: #d91604;

	--bg: #260101;
	--navbarBg: #260101;
}

.table-hover tbody tr:hover{
	background-image: url("static/images/themes/halloween/Halloween.jpeg");
}
