:root {
	--gray0: #d0d0d8;
	--gray1: #8e8e93;
	--gray2: #636366;
	--gray3: #48484a;
	--gray4: #3a3a3c;
	--gray5: #2c2c2e;
	--gray6: #1c1c1e;
	--accent: #0a84ff;

	--bg: #222224;
	--navbarBg: #1c1c1e;
}
