/*sinterklaas*/
:root {
    /*Darkmode colors*/
	--dGray0:#F2EB80;
    --dGray1:#F2EF05;
    --dGray2:#F2EF05;
    --dGray3:#177EBF;
    --dGray4:#0C6AA6;
    --dGray5:#F20505;
    --dGray6:#F50B00;
    --dBlue:#35F546;
}

.table-hover tbody tr:hover{
    background-color: var(--dGray3);
}
.background{
    background-image: url("static/images/Sinterklaas.jpg");
}
body{
	background-color: var(--dGray5);
	color: var(--dGray1);
}
a {
	color: var(--dBlue);
}
.btn-primary {
    color: var(--dGray6);
    background-color: var(--dBlue);
}

.navbar {
	background-color: var(--dGray6);
}
.navbar-default .navbar-nav .active a{
	background-color: var(--dGray4);
	color: var(--dGray1);
}
.navbar-default .navbar-nav .active a:hover{
	background-color: var(--dGray3);
	color: var(--dGray0);
}
.navbar-default .navbar-nav li a,.navbar-default .navbar-brand{
	color: var(--dGray1);
}
.navbar-default .navbar-nav li a:hover,.navbar-default .navbar-brand:hover{
	color: var(--dGray0);
}
hr{
	border-top: 1px solid var(--dGray2);
}

h1, h2, h3, h4, h5, h6{
	color: var(--dGray1);
}

.jumbotron, .darker {
	background-color: var(--dGray4);
}
.table tbody tr td {
	border-top: 1px solid var(--dGray3);
}
.table thead tr th {
	border-bottom: 2px solid var(--dGray2);
}
.navbar-toggle .icon-bar {
    background-color: var(--dGray0);
    opacity: 0.5;
}
.select2-container--default .select2-selection--single{
    background-color: var(--dGray3);
    color: var(--dGray0);
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: var(--dGray0);
}
.select2-results__option{
    background-color: var(--dGray5);
    color: var(--dGray0);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--dGray4);
    color: var(--dGray0);
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td span:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
  background: var(--dGray4);
}

.select2-container--default .select2-results__option[aria-selected=true]{
    background-color: var(--dBlue);
    color: var(--dGray0);
}
.select2-search{
    background-color: var(--dGray2);
}
.select2-search input{
    background-color: var(--dGray0);
}
.dropdown-menu{
    background-color: var(--dGray5);
}
.form-control{
    color: var(--dGray0);
}
.form-control::placeholder{
    color: var(--dGray2);
}
.enter_darkmode>a {
    text-align: center;
}