:root {
	--gray0: #f2eb80;
	--gray1: #f2ef05;
	--gray2: #f2ef05;
	--gray3: #177ebf;
	--gray4: #0c6aa6;
	--gray5: #f20505;
	--gray6: #f50b00;
	--accent: #35f546;
}

.background{
	background-image: url("static/images/themes/sinterklaas/Sinterklaas.jpg");
}
