Flask
Flask-Login
Flask-Bootstrap
Flask-SQLAlchemy
Flask-DebugToolbar
Flask-WTF
Flask-Admin
Flask-Migrate
Flask-Script
black
pymysql
pyyaml
tatsu
microsoftgraph-python
sentry-sdk[flask]
Authlib
opening-hours-py