Flask<2
Flask-Login
Flask-Bootstrap
Flask-SQLAlchemy<3
Flask-DebugToolbar
Flask-WTF
Flask-OAuthlib
Flask-Admin<2
Flask-Migrate<3
Flask-Script<3
black
pymysql
pyyaml
tatsu<5.6 # >=5.6 needs Python >=3.8
