certifi==14.5.14
Flask==0.10.1
Flask-Admin==1.0.9
Flask-Bootstrap==3.3.2.1
Flask-Login==0.2.11
Flask-OAuthlib==0.8.0
Flask-SQLAlchemy==2.0
Flask-WTF==0.10.3
Flask-Migrate==1.4.0
itsdangerous==0.24
Jinja2==2.7.2
MarkupSafe==0.23
oauthlib==0.7.2
PyMySQL==0.6.6
requests==2.4.0
SQLAlchemy==0.9.8
Werkzeug==0.9.6
WTForms==2.0
