/* Custom CSS */
body {
  padding-top: 70px;
}

.padding-top {
  padding-top: 10px;
}

.darker {
   background-color: #fafafa;
   margin-top: 10px;
   padding-bottom: 5px;
}

@media (min-width: 992px) {
    .align-bottom {
        margin-top: 2.5em;
    }
}

.full-width {
    width: 100%;
}

.product .extras {
    padding-left: 20px;
}


@media(min-width: 768px) and (max-width: 991px){
    /* Make sure the small map in the location page has the same with as the block above */
    .sm-no-side-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(min-width: 992px){
    .md-no-right-padding {
        padding-right: 0px;
    }
}

.showcase .product {
    font-size: 16px;
}

/* Add clickable box */
div.box:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
    /*border-bottom: #f44346 1px solid !important;*/
    box-shadow: 2px 4px 4px -1px #888888;
}

a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}