:root {
	/* Darkmode colors */
	--dGray0: #D0D0D8;
	--dGray1: #8E8E93;
	--dGray2: #636366;
	--dGray3: #48484A;
	--dGray4: #3A3A3C;
	--dGray5: #2C2C2E;
	--dGray6: #1C1C1E;
	--dBlue: #0A84FF;
	--FontFamily: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	--FontSize: 13px;
}

html {
	height: 100%;
}

body {
	padding-top: 70px;
	background-color: var(--dGray5);
	color: var(--dGray1);
	height: 100%;
	font-family: var(--FontFamily);
	font-size: var(--FontSize);
}

.background {
	position: absolute;
	z-index: -1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: blur(2px) brightness(50%);
	-moz-filter: blur(2px) brightness(50%);
	-o-filter: blur(2px) brightness(50%);
	-ms-filter: blur(2px) brightness(50%);
	filter: blur(2px) brightness(50%);
}

.padding-top {
	padding-top: 10px;
}

@media (min-width: 992px) {
	.align-bottom {
		margin-top: 2.5em;
	}
}

.full-width {
	width: 100%;
}

.showcase {
	font-size: 16px;
	line-height: 1.2;
}

.showcase {
	padding: 0;
	max-width: 500px;
	margin: 0 auto;
}

.showcase h1 {
	font-size: 200%;
	margin: 0 ;
	padding: 0.4em 0 0.2em;
	border-bottom: 1px dashed var(--dGray1);
	text-align: center;
}
.showcase h2 {
	font-size: 110%;
	font-weight: bold;
	margin-bottom: 0.6em;
}

.showcase .open-order-warning {
	font-size: 150%;
	text-align: center;
	padding: 1em 0.5em;
	background-color: rgba(255, 0, 0, 0.1);
}

.showcase .dish {
	padding: 0 0.5em;
}
@media (min-width: 500px) {
	.showcase .dish {
		padding: 0 1em;
	}
}

.showcase .quantity {
	font-size: 110%;
}

.showcase .comments {
	padding-left: 2em;
}
.showcase .comments li {
	margin: 0.5em 0 0;
}

.showcase .total {
	border-top: 1px dashed var(--dGray1);
	text-align: center;
	padding: 0.5em 0;
	margin-top: 1.3em;
}

.time_data{
	display: flex;
	justify-content: space-between;
}

@media(min-width: 768px) and (max-width: 991px){
	/* Make sure the small map in the location page has the same with as the block above */
	.sm-no-side-padding {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media(min-width: 992px){
	.md-no-right-padding {
		padding-right: 0px;
	}
}

a.divLink {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	/* Makes sure the link doesn't get underlined */
	z-index: 10;
	/* raises anchor tag above everything else in div */
	background-color: white;
	/*workaround to make clickable in IE */
	opacity: 0;
	/*workaround to make clickable in IE */
	filter: alpha(opacity=0);
	/*workaround to make clickable in IE */
}

.footerWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -1rem;
}
.footerWrapper>div{
	margin: 0 1rem;
}

.hidden {
	display: none;
}

.table-hover tbody tr:hover{
	background-color: var(--dGray3);
}
a {
	color: var(--dBlue);
}
.btn-primary {
	color: var(--dGray6);
	background-color: var(--dBlue);
}

.navbar {
	background-color: var(--dGray6);
}
.navbar-default .navbar-nav .active a {
	background-color: var(--dGray5);
	color: var(--dGray1);
}
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: var(--dGray4);
	color: var(--dGray0);
}
.navbar-default .navbar-nav li a,
.navbar-default .navbar-brand {
	color: var(--dGray1);
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: var(--dGray0);
}
hr{
	border-top: 1px solid var(--dGray2);
}

h1, h2, h3, h4, h5, h6{
	color: var(--dGray1);
}

.jumbotron, .darker, .order_row {
	background: var(--dGray4);
}

.darker {
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.table tbody tr td {
	border-top: 1px solid var(--dGray3);
}
.table thead tr th {
	border-bottom: 2px solid var(--dGray2);
}
.navbar-toggle .icon-bar {
	background-color: var(--dGray0);
	opacity: 0.5;
}
.select2-container--default .select2-selection--single{
	background-color: var(--dGray3);
	color: var(--dGray0);
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	color: var(--dGray0);
}
.select2-results__option{
	background-color: var(--dGray5);
	color: var(--dGray0);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: var(--dGray4);
	color: var(--dGray0);
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td span:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
	background: var(--dGray4);
}

.select2-container--default .select2-results__option[aria-selected=true]{
	background-color: var(--dBlue);
	color: var(--dGray0);
}
.select2-search{
	background-color: var(--dGray2);
}
.select2-selection--multiple .select2-search{
	background-color: transparent;
}
.select2-selection--multiple .select2-search{
	background-color: transparent;
}
.select2-selection--multiple .select2-search.select2-search--inline .select2-search__field{
	border: 1px solid #ccc;
	padding-left: 0.3em;
	box-sizing: content-box;
}
.select2-search input{
	background-color: var(--dGray0);
}
.dropdown-menu{
	background-color: var(--dGray5);
}
.form-control{
	color: var(--dGray0);
}
.form-control::placeholder{
	color: var(--dGray2);
}

#dish_choices {
	margin: 0.5em 1em 1.5em;
	transition: opacity 0.2s;
}
#dish_choices.loading {
	opacity: 0.2;
}
