/* Custom CSS */
:root {
    /*Darkmode colors*/
	--dGray0:#B0B0B8;
    --dGray1:#8E8E93;
    --dGray2:#636366;
    --dGray3:#48484A;
    --dGray4:#3A3A3C;
    --dGray5:#2C2C2E;
    --dGray6:#1C1C1E;
    --dBlue:#0A84FF;
}

body {
  padding-top: 70px;
}

.padding-top {
  padding-top: 10px;
}

.darker {
   background-color: #fafafa;
   margin-top: 10px;
   padding-bottom: 5px;
}

@media (min-width: 992px) {
    .align-bottom {
        margin-top: 2.5em;
    }
}

.full-width {
    width: 100%;
}

.product .extras {
    padding-left: 20px;
}

@media(min-width: 768px) and (max-width: 991px){
    /* Make sure the small map in the location page has the same with as the block above */
    .sm-no-side-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(min-width: 992px){
    .md-no-right-padding {
        padding-right: 0px;
    }
}

.showcase .product {
    font-size: 16px;
}

/* Add clickable box */
div.box:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
    box-shadow: 2px 4px 4px -1px #888888;
}

.darkmode .table-hover tbody tr:hover{
    background-color: var(--dGray3);
}

a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

.footerWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1rem;
}
.footerWrapper>div{
    margin: 0 1rem;
}

.darkmode {
	background-color: var(--dGray5);
	color: var(--dGray1);
}
.darkmode a {
	color: var(--dBlue);
}
.darkmode .btn-primary {
    color: white;
    background-color: var(--dBlue);
}

.darkmode .navbar {
	background-color: var(--dGray6);
}
.darkmode .navbar-default .navbar-nav .active a{
	background-color: var(--dGray4);
	color: var(--dGray1);
}
.darkmode .navbar-default .navbar-nav .active a:hover{
	background-color: var(--dGray3);
	color: var(--dGray0);
}
.darkmode .navbar-default .navbar-nav li a,.darkmode .navbar-default .navbar-brand{
	color: var(--dGray1);
}
.darkmode .navbar-default .navbar-nav li a:hover,.darkmode .navbar-default .navbar-brand:hover{
	color: var(--dGray0);
}
.darkmode hr{
	border-top: 1px solid var(--dGray2);
}

.darkmode h1, .darkmode h2, .darkmode h3{
	color: var(--dGray0);
}

.darkmode h4, .darkmode h5{
	color: var(--dGray1);
}

.darkmode h6, .darkmode .h1, .darkmode .h2, .darkmode .h3, .darkmode .h4, .darkmode .h5, .darkmode .h6 {
	color: var(--dGray3);
}
.darkmode .jumbotron, .darkmode .darker {
	background-color: var(--dGray4);
}
.darkmode .table tbody tr td {
	border-top: 1px solid var(--dGray3);
}
.darkmode .table thead tr th {
	border-bottom: 2px solid var(--dGray2);
}
.darkmode .navbar-toggle .icon-bar {
    background-color: var(--dGray0);
    opacity: 0.5;
}
.darkmode .select2-container--default .select2-selection--single{
    background-color: var(--dGray3);
    border: 1px solid var(--dGray1);
    color: var(--dGray0);
}
.darkmode .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: var(--dGray0);
}
.darkmode .select2-results__option{
    background-color: var(--dGray5);
    color: var(--dGray0);
}
.darkmode .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--dGray4);
    color: var(--dGray0);
}
.darkmode .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.darkmode .bootstrap-datetimepicker-widget table td.day:hover,
.darkmode .bootstrap-datetimepicker-widget table td.hour:hover,
.darkmode .bootstrap-datetimepicker-widget table td.minute:hover,
.darkmode .bootstrap-datetimepicker-widget table td span:hover,
.darkmode .bootstrap-datetimepicker-widget table td.second:hover {
  background: var(--dGray4);
}

.darkmode .select2-container--default .select2-results__option[aria-selected=true]{
    background-color: var(--dBlue);
    color: white;
}
.darkmode .select2-search{
    background-color: var(--dGray2);
}
.darkmode .select2-search input{
    background-color: var(--dGray0);
}
.darkmode .dropdown-menu{
    background-color: var(--dGray5);
}
.darkmode .form-control{
    color: white;
}
.darkmode .form-control::placeholder{
    color: var(--dGray2);
}
.enter_darkmode>a {
    text-align: center;
}