{% extends "layout.html" -%}
{% set active_page = "home" -%}

{% import "utils.html" as util -%}

{% block container %}
	<div class="row hi_im_haldis_wrapper">
		<div class="jumbotron hi_im_haldis">
			<h2>Hi, I'm Haldis</h2>
			<h3>What would you like to <span class="home_sir">eat</span>?</h3>
		</div>
	</div>
	<div class="row container">
		<div class="col-sm-5">
			{% if orders|count > 0 -%}
				<h3>Open orders:</h3>
				{% for order in orders %}
					{{ util.render_order(order) }}
				{% endfor %}
			{% else %}
				<h4>No orders available.</h4>
				{% if not current_user.is_anonymous() %}
					To create an order, fill in the form <a href="{{ url_for("order_bp.orders") }}">here</a>.
				{% else %}
					Login to create an order, or ask someone else.
				{% endif %}
			{%- endif %}
		</div>
		<div class="col-sm-5 col-sm-push-2">
			{% if recently_closed|count > 0 -%}
				<h3>Recently closed orders:</h3>
				{% for order in recently_closed %}
					{{ util.render_order(order) }}
				{% endfor %}
			{%- endif %}
		</div>
	</div>
{% endblock %}
