{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% set navbar = [
    ('general_bp.home', 'Home'),
    ('order_bp.orders', 'Orders'),
    ('general_bp.locations', 'Locations'),
    ('general_bp.map', 'Map'),
    ('general_bp.about', 'About'),
    ('stats_blueprint.stats', 'Stats'),
] -%}
{% if not current_user.is_anonymous() and current_user.is_admin() -%}
    {% set navbar = navbar + [('admin.index', 'Admin')] -%}
{% endif -%}
{% set active_page = active_page|default('index') -%}

{% block title %}
Haldis - {{ active_page|capitalize }}
    {% if title %}
        - {{ title }}
    {% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" media="print">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/timer.js') }}"></script>
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('general_bp.home') }}">HALDIS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for id, text in navbar -%}
                <li class="{{ 'active' if active_page in id else '' }}">
                    <a href="{{ url_for(id) }}">{{ text|e }}</a>
                </li>
            {% endfor -%}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_anonymous() %}
                  <li><a href="{{ url_for('auth_bp.login') }}">Login</a></li>
              {% else %}
                  <li><a href="{{ url_for('general_bp.profile') }}">{{ current_user.username }}</a></li>
                  <li><a href="{{ url_for('auth_bp.logout') }}">Logout</a></li>
              {% endif %}
          </ul>
         </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}

{% block content -%}
    {{ utils.flashed_messages(container=True) }}

    <div class="container">
    {% block container -%}
    {%- endblock %}
    </div>

    <footer>
    <hr>
    <div class="container">
        <div class="pull-right">Made with ❤ by <a href="http://zeus.ugent.be">Zeus WPI</a></div>
        <div class="pull-left"><a class="github-button" href="https://github.com/ZeusWPI/haldis" data-icon="octicon-star" data-style="mega" data-count-href="/ZeusWPI/Haldis/stargazers" data-count-api="/repos/ZeusWPI/Haldis#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star ZeusWPI/Haldis on GitHub">Star</a></div>
        <div class="text-center"><a href="http://github.com/ZeusWPI/Haldis">© {{ ""|year }}</a></div>
    </div>
    </footer>
{%- endblock %}
