<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title>FoodBot</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo">FOODBOT</h1>
        <nav>
          <ul class="menu">
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('stats') }}">Stats</a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
              {% if current_user.is_anonymous() %}
                  <li><a href="{{ url_for('login') }}">Login</a></li>
              {% else %}
                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  <li>{{ current_user.username }}</li>
              {% endif %}
          </ul>
        </nav>
      </div>
    </header>
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>