{% extends 'layout.html' %}
{% set active_page = "orders" -%}

{% import "bootstrap/wtf.html" as wtf %}
{% import "utils.html" as util -%}

{% block container %}
    <div class="row orders">
        <div class="col-md-5">
        {% if orders|count > 0 -%}
            <h3>Open orders:</h3>
            {% for order in orders %}
                {{ util.render_order(order) }}
            {% endfor %}
        {% else %}
            <h4>There are no orders in the history</h4>
        {%- endif %}
        </div>
        </div>
    </div>
{% endblock %}

{% block styles -%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2-bootstrap.min.css') }}" />
{%- endblock %}
{% block scripts -%}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
{%- endblock %}
