{% extends 'layout.html' %}
{% set active_page = "orders" -%}

{% import "bootstrap/wtf.html" as wtf %}
{% import "utils.html" as util -%}

{% block container %}
    <div class="row">
        <div class="col-md-5">
            <h3>Open orders:</h3>
            {% for order in orders %}
                {{ util.render_order(order) }}
            {% endfor %}
        </div>
    {% if not current_user.is_anonymous() %}
        <div class="col-md-push-1 col-md-6">
            <h3>Create new order:</h3>
            {{ wtf.quick_form(form, action=url_for('.order_create'), button_map={'submit_button': 'primary'}, form_type='horizontal') }}
        </div>
    {% endif %}
        </div>
    </div>
{% endblock %}