{% extends "layout.html" -%}
{% set active_page = "profile" -%}

{% block container %}
	<h1>{{ current_user.username }}</h1>
	<h3>Themes</h3>
	<p>
		<!-- Style attribute due to missing css -->
		<select name="theme" id="themes_select" style="width: 300px;">
			<option value="">[Season's default]</option>
			{% for theme in themes_list %}
			<option value="{{ theme.file }}">{{ theme.name }}</option>
			{% endfor %}
		</select>
	</p>
	<p><a class="changePerformance" id="heavy"></a></p>
{% endblock %}
